body, html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}

.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}


/*适配不同dpi 来实现1px问题*/

@each $dpi in (1.5, 2, 3) {
  @media (-webkit-min-device-pixel-ratio: $(dpi)), (min-device-pixel-ratio: $(dpi)) {
    .border-1px {
      &::after {
        -webkit-transform: scaleY(calc(1 / $(dpi)));
        transform: scaleY(calc(1 / $(dpi)));
      }
    }
  }
}
